@import 'vendor/normalize';

// http://www.modularscale.com/?1.4&em&1.618&sass&text

$blue: #5ab2c8;
$orange: #cb853a;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: "Arvo", serif;
  font-size: 18px;
  line-height: 1.618em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 2.618em;
}

h2 {
  font-size: 1.618em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  color: $blue;
}

a {
  text-decoration: underline;
  color: $orange;

  &:hover {
    color: darken($orange, 10%);
  }
}

textarea,
input,
input[type="text"] {
  padding: 0.6em 0.6em;
  font-family: "Arvo", serif;
  font-size: 18px;
}

.wrapper {
  max-width: 46.971em;
  margin: 0 auto;
}

.page-header {
  margin: 0 0 100px 0;
  padding: 20px 0 30px;
  text-align: center;
  color: $blue;

  h1 {
    margin: 0 0 20px 0;
    font-size: 6.854em;
    line-height: 1.2em;
    color: $blue;
  }

  h2 {
    margin: 0;
    color: $blue;
  }
}

.page-footer {
  padding: 2.618em 0;
  text-align: center;

  nav {
    ul {
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 0 0.5em;
    }
  }

  .credits {
    font-size: 0.618em;
  }
}

.search {
  input[type="search"] {
    width: 100%;
  }
}
