.default {
  padding: 0.8em 1em;
  border: 1px solid #5AB3C8;
  font-family: "Arvo", serif;
  font-size: 1rem;
  transition: border-color 0.3s;

  &:focus {
    border-color: #5FDB80;
    outline: none;
  }
}