.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  width: 46.971em;
  max-width: 80%;
  margin: 0 auto;
}

.page-header {
  margin: 0 0 100px 0;
  padding: 20px 0 30px;
  text-align: center;

  h1 {
    margin: 0 0 20px 0;
    font-size: 6rem;
    line-height: 1.2;
    color: $color-primary;
  }

  p {
    margin: 0;
    color: $color-primary;
  }
}

.page-footer {
  padding: 2.618em 0;
  text-align: center;

  nav {
    ul {
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 0 0.5em;
    }
  }

  .credits {
    font-size: 0.618em;
  }
}
