extends ../layouts/master

block content
    div.row
        h1 Error Checks
        hr

    each c in changed
        div.row
            h4= c.river.name

            p= "Real Length: " + c.river.realLength
            p= "Crow Length: " + c.river.crowLength
            p= "Old Crow Length: " + c.oldCrowLength