doctype html
html
    head
        title pi me a river
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Fjord+One")
        link(rel="stylesheet", href="styles/combined.css")
        script(src="scripts/combined.js")

    body
        block content