doctype html
html
    head
        title pi me a river
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Arvo:400,700")
        link(rel="stylesheet", href="/styles/combined.css")
        script(src="/scripts/combined.js")
        //
            script.
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-18813637-2']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

    body
        div.wrapper
            block content