textarea,
input[type="text"],
input[type="search"] {
  padding: 0.6em 0.6em;
  border: 1px solid $color-light-grey;
  width: 100%;
  font-family: "Arvo", serif;
  font-size: 18px;

  &:focus {
    border: 1px dotted $color-secondary;
    outline: none;
  }
}