%button {
  display: inline-block;
  padding: 1rem;
  border: 1px solid #5AB3C8;
  box-shadow: 2px 2px 0px #256778;
  background: #5AB3C8;
  cursor: pointer;
  font-family: "Arvo", serif;
  color: #FFF;
  transition: all 0.1s;

  &:hover,
  &:focus {
    outline: 1px solid #5AB3C8;
    box-shadow: 4px 4px 0px #256778;
  }

  &:active {
    outline: none;
    box-shadow: 0 0 0;
  }
}

.default {
  @extend %button;
}

.clear {
  @extend %button;
  background: #FFF;
  border: 1px solid #5AB3C8;
  color: #5AB3C8;
}

.warning {
  @extend %button;
  background: #C85A5A;
  border: 1px solid #C85A5A;
  box-shadow: 2px 2px 0px #4F1B1B;

  &:hover,
  &:focus {
    outline: 1px solid #C85A5A;
    box-shadow: 4px 4px 0px #4F1B1B;
  }

  &:active {
    outline: none;
    box-shadow: 0 0 0;
  }
}
