@import '../config/colors';

.river {
  width: 80%;
  margin: 0 auto;

  h1 {
    margin: 0;
    font-size: 3rem;
    line-height: 1.2;
    color: $color-primary;
  }

  heading p {
    font-size: 1.4rem;
  }
}

.river-map {
  line {
    stroke: $color-primary;
    stroke-width: 4px;
  }
}