$line: 1.625rem;

.default {
  margin: ($line * 3) auto $line;
  width: 90%;
  max-width: 30 * $line;

  &:first-child {
    margin-top: $line;
  }

  h1 + p {
    margin-top: 2 * $line;
  }

  h2 + p,
  h3 + p {
    margin-top: $line;
  }

  p + p {
    margin-top: $line;
  }

  p + h1,
  p + h2,
  p + h3 {
    margin-top: 2 * $line;
  }
}
