.site-footer {
  padding: 2.618em 0;
  text-align: center;

  nav {
    ul {
      padding: 0;
    }

    li {
      display: block;
      margin: 0.5em 0;
      font-size: 0.8rem;
    }
  }

  .credits {
    font-size: 0.618em;
  }
}